.box{
  box-sizing: border-box;
  margin: 100px auto; 
  width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.textInp{
  margin-bottom: 10px;
}
.title{
  text-align: center;
}